body {
	margin: 0px;
	padding: 0px;
}

#map {
	width: 100vw;
	height: 100vh;
}

#sfomuseum-map-creditline {
        text-align: right;
        font-size: 11px;
	color: #ccc;
}

.minimap {
	width: 300px !important;
	height: 300px !important;
	border: solid thin;
}

.leaflet-control-resizer-s {
	background-color: #fff !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	height: 12px !important;
	opacity: .75 !important;
}

.leaflet-control-resizer::after {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 5px solid #999;
	border-bottom-width: 0 !important;
}
